<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="./vue.min.js"></script>
    <!--<script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>-->
</head>
<body>
    <div id="app">
        <h1 v-text="title"></h1>
        <div>
            <button id="list" @click="goToList">list</button>
            <button id="detail" @click="goToDetail">detail</button>
            <button id="new" @click="goToNew">new</button>
        </div>
        <list-page v-if="routerPath === 'list' || routerPath === ''"></list-page>
        <detail-page v-if="routerPath === 'detail'"></detail-page>
        <new-page v-if="routerPath === 'new'"></new-page>
    </div>
    <script>
        // 自定义路由实现
        var MyRouter = function (options) {
            options = options || {};
            this.routes = options.routes;
            this.mode = options.mode || 'hash';
            // 不支持history模式
            if (this.mode === 'history' && !this.supportHistoryMode()) {
                this.mode = 'hash';
            }
            // 监听hash值变化
            if (this.mode === 'hash') {
                window.addEventListener('hashchange', () => {
                    var hash = window.location.hash;
                    hash = hash.split('#')[1];
                    this.$root.routerPath = hash;
                }, false);
            }
        };

        MyRouter.prototype.init = function (vmInst) {
            if (!vmInst.$parent) { // 跟节点
                this.$root = vmInst;
            }
        };

        MyRouter.prototype.supportHistoryMode = function () {
            return !!(history && history.pushState);
        };

        MyRouter.prototype.go = function (path) {
            if (this.mode === 'hash') {
                window.location.hash = path;
            } else {
                window.history.pushState({
                    path: path
                }, null, path)
                this.$root.routerPath = path;
            }
        };


        MyRouter.install = function (Vue, Option) {
            Vue.mixin({
                data () {
                    return {
                        routerPath: ''
                    }
                },
                beforeCreate () {
                    if (this.$root.$options.router) {
                        this.$router = this.$root.$options.router;
                        this.$router.init(this);
                    }
                }
            })
        };

        Vue.use(MyRouter);

        var ListPage = { template: '<h1>列表页</h1>'};
        var DetailPage = { template: '<h1>详细页</h1>'};
        var NewPage = { template: '<h1>新建页</h1>'};

        var routes = {
            list: ListPage,
            detail: DetailPage,
            new: NewPage
        };

        var router = new MyRouter({
            mode: 'history',
            routes: routes
        });

        var vm = new Vue({
            router: router,
            data: {
                title: '模拟vue-router'
            },
            components: {
                ListPage: ListPage,
                DetailPage: DetailPage,
                NewPage: NewPage
            },
            methods: {
                goToList: function () {
                    this.$router.go('list')
                },
                goToDetail: function () {
                    this.$router.go('detail')
                },
                goToNew: function () {
                    this.$router.go('new')
                }
            }
        }).$mount('#app');
    </script>
</body>
</html>